footer {
    text-align: center;
}

.article {
    margin-top: 30px;
    margin-bottom: 30px;
}
h1{
    float: left;
}
h4{
    float: right;
    text-align: right;
    padding: 21px 1px;
}
{
    color: aqua;
}